extends /layouts/shell

block prepend head
  -
    meta = {
      title: "Booh",
      description: "Some Regular Page",
      keywords: "This, that, the other"
    }

    javascript = [
      '/js/main.js'
    ]

    css = [
      '/css/main.css',
      '/css/nothing.css'
    ]

block content
  header
    h1 Hello
  .module
    p Some paragraph text.
  .flag