meta(charset="UTF-8")

if meta
  if meta.title
    title= meta.title
  if meta.keywords
    meta(name="keywords" content="#{meta.keywords}")
  if meta.description
    meta(name="description" content="#{meta.description}")

meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

if css
  - each style in css
    link(rel="stylesheet", href="#{style}")

if javascript
  - each script in javascript
    script(type="text/javascript" src="#{script}")