@import 'swiss-styl'

-swiss-add-breakpoint('mobile', null, 400px)
-swiss-add-breakpoint('tablet', 401px, 800px)

@import 'typography'

@svg-load flag url("src/images/flag.svg")

@svg-load flag-over url("src/images/flag.svg")
  rect:nth-child(1n+2)
    fill black

html
  min-height 100vh

body
  display inline-block
  min-height 100%
  background-color white
  
  +on(mobile)
    background-color #fca
  +on(tablet)
    background-color #acf

.flag
  position absolute
  width 100px
  height 100px
  left 0
  right 0
  top 0
  bottom 0
  margin auto
  background svg-inline(flag) no-repeat 50% 50% / 100% auto
  
  &:hover
    background-image svg-inline(flag-over)
    cursor pointer

-swiss-render()
